h1{
  text-align: center;
  font-size: 30px;
}
.d1{
  background-color: grey;


}
#Roti{
  margin: 10px 10px 10px 10px;
}

.d2{
  background-color: grey;
}
#Rice{
  margin: 10px 10px 10px 10px;

}
#Biriyani{
  margin: 10px 10px 10px 10px;
}
.d3{
  background-color: grey;
}
h2{
  font-size: 30px;
  text-align: center;
}
h3{
  font-size: 30px;
  text-align: center;
}
