*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  padding-top: 5px;
}

@keyframes back{  
  0%   {background-image: url('background2.jpg');opacity: 1;}
  20%  {background-image: url('ayodhya.jpg');background-color: rgba(0,0,0,0);}
  40%  {background-image: url('vinayak.jpg');opacity: 1;}
  60% {background-image: url('ganga.jpg');background-color: rgba(0,0,0,0);}
  80% {background-image: url('dwaraka.jpg');opacity: 1;}
  100% {background-image: url('dwaraka.jpg');background-color: rgba(0,0,0,0);}

}
header{
  width: 100%;
  height: 500px;
  padding-top: 3%;
  padding-bottom: 3%;
  background-image: url('background2.jpg');
  background-size: 100% 90%;
  background-repeat: no-repeat;

}
nav{
  padding-top: 3px;
padding-bottom: 5%;
background-color:  #ffc13b;
}
body{
  background-color: #f5f0e1;
}
.aaa{
  background-color: #ff6e40;
}
.slider {
  width: 100%;
  height: 600px;
  margin: 20px auto;
  position: relative;
  border-radius: 20px;
  border-color: #1e3d59;
  background-color: #1e3d59;
}
.slide1,.slide2,.slide3,.slide4,.slide5 {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-bottom: 1%;
  border-style: solid;
  border-color: blue;
  border-radius: 40px;
}
.slide1 {
  background: url('background2.jpg')no-repeat center;
  background-size: 100% 100%;
  animation:fade 8s infinite;
  -webkit-animation:fade 8s infinite;

} 
.slide2 {
  background: url('ganga.jpg')no-repeat center;
      background-size: 100% 100%;
    animation:fade2 8s infinite;
-webkit-animation:fade2 8s infinite;
}
.slide3 {
    background: url('dwaraka.jpg')no-repeat center;
      background-size: 100% 100%;
    animation:fade3 8s infinite;
-webkit-animation:fade3 8s infinite;
}
.slide4 {
    background: url('ayodhya.jpg')no-repeat center;
      background-size: 100% 100%;
    animation:fade4 8s infinite;
-webkit-animation:fade4 8s infinite;
}
.parallax1{
  width: 100%;
}
.con {
  width: 55%;
  height: 600px;
  margin: 20px auto;
  position: relative;
  border-radius: 20px;
  border-color: #1e3d59;
  background-color: #1e3d59;
  align-items: center;
}
.His1,.His2,.His3,.His4,.His5 {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-bottom: 1%;
  border-style: solid;
  border-color: blue;
  border-radius: 40px;
  text-align: center;
  font-size: 2em;
  text-shadow: rgb(1,1,1);
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 2px #200;
  font-family: "Times New Roman", Times, serif;
  color: red;
  word-wrap: break-word;
}
.His1 {
  background: url('Description.jpg')no-repeat center;
  background-size: 100% 100%;
  animation:fade 8s infinite;
  -webkit-animation:fade 8s infinite;

} 
.His2 {
  background: url('his.jpg')no-repeat center;
      background-size: 100% 100%;
    animation:fade2 8s infinite;
-webkit-animation:fade2 8s infinite;
}
.His3 {
    background: url('history.jpg')no-repeat center;
      background-size: 100% 100%;
    animation:fade3 8s infinite;
-webkit-animation:fade3 8s infinite;
}
.His4 {
    background: url('ayodhya.jpg')no-repeat center;
      background-size: 100% 100%;
    animation:fade4 8s infinite;
-webkit-animation:fade4 8s infinite;
}
.sis1,.sis2,.sis3,.sis4,.sis5 {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-bottom: 1%;
  border-style: solid;
  border-color: blue;
  border-radius: 40px;
  text-align: center;
  font-size: 2em;
  text-shadow: rgb(1,1,1);
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 2px #200;
  font-family: "Times New Roman", Times, serif;
  color: red;
}
.sis1 {
  background: url('sages.jpg')no-repeat center;
  background-size: 100% 100%;
  animation:fade 8s infinite;
  -webkit-animation:fade 8s infinite;

} 
.sis2 {
  background: url('valmiki1.jpg')no-repeat center;
      background-size: 100% 100%;
    animation:fade2 8s infinite;
-webkit-animation:fade2 8s infinite;
}
.sis3 {
    background: url('Vyasa.jpg')no-repeat center;
      background-size: 100% 100%;
    animation:fade3 8s infinite;
-webkit-animation:fade3 8s infinite;
}
.sis4 {
    background: url('Vasistha.jpg')no-repeat center;
      background-size: 100% 100%;
    animation:fade4 8s infinite;
-webkit-animation:fade4 8s infinite;
}
.ais1,.ais2,.ais3,.ais4,.ais5 {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-bottom: 1%;
  border-style: solid;
  border-color: blue;
  border-radius: 40px;
  text-align: center;
  font-size: 2em;
  text-shadow: rgb(1,1,1);
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 2px #200;
  font-family: "Times New Roman", Times, serif;
  color: red;
}
.ais1 {
  background: url('acarya.jpg')no-repeat center;
  background-size: 100% 100%;
  animation:fade 8s infinite;
  -webkit-animation:fade 8s infinite;

} 
.ais2 {
  background: url('Dronacharya.jpg')no-repeat center;
      background-size: 100% 100%;
    animation:fade2 8s infinite;
-webkit-animation:fade2 8s infinite;
}
.ais3 {
    background: url('Parashurama.jpg')no-repeat center;
      background-size: 100% 100%;
    animation:fade3 8s infinite;
-webkit-animation:fade3 8s infinite;
}
.ais4 {
    background: url('Shankaracharya.jpg')no-repeat center;
      background-size: 100% 100%;
    animation:fade4 8s infinite;
-webkit-animation:fade4 8s infinite;
}
.cis1,.cis2,.cis3,.cis4,.cis5 {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-bottom: 1%;
  border-style: solid;
  border-color: blue;
  border-radius: 40px;
  text-align: center;
  font-size: 2em;
  text-shadow: rgb(1,1,1);
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 2px #200;
  font-family: "Times New Roman", Times, serif;
  color: red;
}
.cis1 {
  background: url('scientists.jpg')no-repeat center;
  background-size: 100% 100%;
  animation:fade 8s infinite;
  -webkit-animation:fade 8s infinite;

} 
.cis2 {
  background: url('Panini.jpg')no-repeat center;
      background-size: 100% 100%;
    animation:fade2 8s infinite;
-webkit-animation:fade2 8s infinite;
}
.cis3 {
    background: url('Patanjali.jpg')no-repeat center;
      background-size: 100% 100%;
    animation:fade3 8s infinite;
-webkit-animation:fade3 8s infinite;
}
.cis4 {
    background: url('Aryabatta.jpg')no-repeat center;
      background-size: 100% 100%;
    animation:fade4 8s infinite;
-webkit-animation:fade4 8s infinite;
}
.kis1,.kis2,.kis3,.kis4,.kis5 {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-bottom: 1%;
  border-style: solid;
  border-color: blue;
  border-radius: 40px;
  text-align: center;
  font-size: 2em;
  text-shadow: rgb(1,1,1);
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 2px #200;
  font-family: "Times New Roman", Times, serif;
  color: red;
}
.kis1 {
  background: url('kings.jpg')no-repeat center;
  background-size: 100% 100%;
  animation:fade 8s infinite;
  -webkit-animation:fade 8s infinite;

} 
.kis2 {
  background: url('Ashoka.jpg')no-repeat center;
      background-size: 100% 100%;
    animation:fade2 8s infinite;
-webkit-animation:fade2 8s infinite;
}
.kis3 {
    background: url('Srirama.jpg')no-repeat center;
      background-size: 100% 100%;
    animation:fade3 8s infinite;
-webkit-animation:fade3 8s infinite;
}
.kis4 {
    background: url('ChandraGuptaMourya.jpg')no-repeat center;
      background-size: 100% 100%;
    animation:fade4 8s infinite;
-webkit-animation:fade4 8s infinite;
}
.wis1,.wis2,.wis3,.wis4,.wis5 {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-bottom: 1%;
  border-style: solid;
  border-color: blue;
  border-radius: 40px;
  text-align: center;
  font-size: 2em;
  text-shadow: rgb(1,1,1);
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 2px #200;
  font-family: "Times New Roman", Times, serif;
  color: red;
}
.wis1 {
  background: url('warriors.jpg')no-repeat center;
  background-size: 100% 100%;
  animation:fade 8s infinite;
  -webkit-animation:fade 8s infinite;

} 
.wis2 {
  background: url('Lakshman.jpg')no-repeat center;
      background-size: 100% 100%;
    animation:fade2 8s infinite;
-webkit-animation:fade2 8s infinite;
}
.wis3 {
    background: url('Indrajith.jpeg')no-repeat center;
      background-size: 100% 100%;
    animation:fade3 8s infinite;
-webkit-animation:fade3 8s infinite;
}
.wis4 {
    background: url('Rudrama devi.jpg')no-repeat center;
      background-size: 100% 100%;
    animation:fade4 8s infinite;
-webkit-animation:fade4 8s infinite;
}
.pis1,.pis2,.pis3,.pis4,.pis5 {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-bottom: 1%;
  border-style: solid;
  border-color: blue;
  border-radius: 40px;
  text-align: center;
  font-size: 2em;
  text-shadow: rgb(1,1,1);
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 2px #200;
  font-family: "Times New Roman", Times, serif;
  color: red;
}
.pis1 {
  background: url('poets.jpg')no-repeat center;
  background-size: 100% 100%;
  animation:fade 8s infinite;
  -webkit-animation:fade 8s infinite;

} 
.pis2 {
  background: url('Kalidasa.jpg')no-repeat center;
      background-size: 100% 100%;
    animation:fade2 8s infinite;
-webkit-animation:fade2 8s infinite;
}
.pis3 {
    background: url('Magha.jpg')no-repeat center;
      background-size: 100% 100%;
    animation:fade3 8s infinite;
-webkit-animation:fade3 8s infinite;
}
.pis4 {
    background: url('Shudraka.jpg')no-repeat center;
      background-size: 100% 100%;
    animation:fade4 8s infinite;
-webkit-animation:fade4 8s infinite;
}
@keyframes fade
{
  0%   {opacity:1}
  25% { opacity: 0}
  50% { opacity: 0}
  75% {opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  25% { opacity: 1}
  50% { opacity: 0 }
  75% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  25% { opacity: 0}
  50% { opacity: 1}
  75% {opacity: 0}
  100% { opacity: 0}
}
@keyframes fade4
{
  0%   {opacity:0}
  25% { opacity: 0}
  50% { opacity: 0}
  75% { opacity: 1}
  100% {opacity: 0}
}
.con img:hover {
    opacity: .5;

}
img{
	border-style: solid;
    border-color: blue;
    border-radius: 40px;
}
@media (min-width: 1200px){
nav{
	width: 100%;
	height: 15vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
  padding-top: 10px;
}
nav #logo{
	width: 47%;
	font-size: 2em;
	text-shadow: rgb(1,1,1);
	text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 2px #200;
  font-family: "Times New Roman", Times, serif;
  	
}

nav .menu{
	width: 15%;
	text-align: center;
	font-size:1.7em;
	text-shadow: rgb(0,0,1);
	text-transform: uppercase;
  font-weight: bold;
	display: flex;
	justify-content: space-between;
	color:black;
}
.parallax1{
  background-image: url("parl1.png");
  min-height: 400px;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 800;
  font-size: 4em;
  text-shadow: rgb(1,10,14);
  text-align: center;
}
.parallax2{
  background-image: url("parl2.png");
  min-height: 500px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 800;
  font-size: 4em;
  text-shadow: rgb(1,10,14);
  text-align: center;
}
.parallax3{
  background-image: url("parl3.png");
  min-height: 500px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 800;
  font-size: 4em;
  text-shadow: rgb(1,10,14);
  text-align: center;
}
.parallax4{
  background-image: url("parl4.png");
  min-height: 500px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 800;
  font-size: 4em;
  text-shadow: rgb(1,10,14);
  text-align: center;
}
.parallax5{
  background-image: url("parl5.png");
  min-height: 500px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 800;
  font-size: 4em;
  text-shadow: rgb(1,10,14);
  text-align: center;
}
.parallax6{
  background-image: url("parl6.png");
  min-height: 500px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 800;
  font-size: 4em;
  text-shadow: rgb(1,10,14);
  text-align: center;
}
.parallax7{
  background-image: url("parl7.png");
  min-height: 500px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 800;
  font-size: 4em;
  text-shadow: rgb(1,10,14);
  text-align: center;
}
}
@media (min-width: 992px) and (max-width: 1199px){
	nav{
	width: 100%;
	height: 15vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
}
nav #logo{
	padding-top: 10px;
	width: 45%;
	font-size: 1.3em;
	text-shadow: rgb(1,1,1);
	text-transform: uppercase;
  	font-weight: bold;
  text-shadow: 2px 2px 2px #200;
  font-family: "Times New Roman", Times, serif;
}

nav .menu{
	width: 17%;
	text-align: center;
	font-size:1.2em;
	text-shadow: rgb(0,0,1);
	text-transform: uppercase;
  	font-weight: bold;
	display: flex;
	justify-content: space-between;
	 
}
.parallax1{
  background-image: url("parl1.png");
  min-height: 400px;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 800;
  font-size: 4em;
  text-shadow: rgb(1,10,14);
  text-align: center;
}
.parallax2{
  background-image: url("parl2.png");
  min-height: 500px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 800;
  font-size: 4em;
  text-shadow: rgb(1,10,14);
  text-align: center;
}
.parallax3{
  background-image: url("parl3.png");
  min-height: 500px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 800;
  font-size: 4em;
  text-shadow: rgb(1,10,14);
  text-align: center;
}
.parallax4{
  background-image: url("parl4.png");
  min-height: 500px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 800;
  font-size: 4em;
  text-shadow: rgb(1,10,14);
  text-align: center;
}
.parallax5{
  background-image: url("parl5.png");
  min-height: 500px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 800;
  font-size: 4em;
  text-shadow: rgb(1,10,14);
  text-align: center;
}
.parallax6{
  background-image: url("parl6.png");
  min-height: 500px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 800;
  font-size: 4em;
  text-shadow: rgb(1,10,14);
  text-align: center;
}
.parallax7{
  background-image: url("parl7.png");
  min-height: 500px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 800;
  font-size: 4em;
  text-shadow: rgb(1,10,14);
  text-align: center;
}
}
@media (min-width: 768px) and (max-width: 991px){
nav{
	width: 100%;
	height: 15vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
}
nav #logo{
	padding-top: 10px;
	width: 47%;
	font-size: 1em;
	text-shadow: rgb(1,1,1);
	text-transform: uppercase;
  	font-weight: bold;
  text-shadow: 2px 2px 2px #200;
  font-family: "Times New Roman", Times, serif;
}

nav .menu{
	width: 17%;
	text-align: center;
	font-size:1em;
	text-shadow: rgb(0,0,1);
	text-transform: uppercase;
  	font-weight: bold;
	display: flex;
	justify-content: space-between;
}
.parallax1{
  background-image: url("parl1.png");
  min-height: 400px;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 800;
  font-size: 4em;
  text-shadow: rgb(1,10,14);
  text-align: center;
}
.parallax2{
  background-image: url("parl2.png");
  min-height: 500px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 800;
  font-size: 4em;
  text-shadow: rgb(1,10,14);
  text-align: center;
}
.parallax3{
  background-image: url("parl3.png");
  min-height: 500px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 800;
  font-size: 4em;
  text-shadow: rgb(1,10,14);
  text-align: center;
}
.parallax4{
  background-image: url("parl4.png");
  min-height: 500px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 800;
  font-size: 4em;
  text-shadow: rgb(1,10,14);
  text-align: center;
}
.parallax5{
  background-image: url("parl5.png");
  min-height: 500px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 800;
  font-size: 4em;
  text-shadow: rgb(1,10,14);
  text-align: center;
}
.parallax6{
  background-image: url("parl6.png");
  min-height: 500px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 800;
  font-size: 4em;
  text-shadow: rgb(1,10,14);
  text-align: center;
}
.parallax7{
  background-image: url("parl7.png");
  min-height: 500px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 800;
  font-size: 4em;
  text-shadow: rgb(1,10,14);
  text-align: center;
}
}

@media (min-width: 768px) and (max-width: 991px){
nav{
	width: 100%;
	height: 15vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
}
nav #logo{
	padding-top: 10px;
	width: 47%;
	font-size: 1em;
	text-shadow: rgb(1,1,1);
	text-transform: uppercase;
  	font-weight: bold;
  text-shadow: 2px 2px 2px #200;
  font-family: "Times New Roman", Times, serif;
}

nav .menu{
	width: 17%;
	text-align: center;
	font-size:1em;
	text-shadow: rgb(0,0,1);
	text-transform: uppercase;
  	font-weight: bold;
	display: flex;
	justify-content: space-between;
}
.parallax1{
  background-image: url("parl1.png");
  min-height: 400px;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 800;
  font-size: 4em;
  text-shadow: rgb(1,10,14);
  text-align: center;
}
.parallax2{
  background-image: url("parl2.png");
  min-height: 500px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 800;
  font-size: 4em;
  text-shadow: rgb(1,10,14);
  text-align: center;
}
.parallax3{
  background-image: url("parl3.png");
  min-height: 500px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 800;
  font-size: 4em;
  text-shadow: rgb(1,10,14);
  text-align: center;
}
.parallax4{
  background-image: url("parl4.png");
  min-height: 500px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 800;
  font-size: 4em;
  text-shadow: rgb(1,10,14);
  text-align: center;
}
.parallax5{
  background-image: url("parl5.png");
  min-height: 500px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 800;
  font-size: 4em;
  text-shadow: rgb(1,10,14);
  text-align: center;
}
.parallax6{
  background-image: url("parl6.png");
  min-height: 500px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 800;
  font-size: 4em;
  text-shadow: rgb(1,10,14);
  text-align: center;
}
.parallax7{
  background-image: url("parl7.png");
  min-height: 500px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 800;
  font-size: 4em;
  text-shadow: rgb(1,10,14);
  text-align: center;
}
}
@media (max-width: 767px) {
	nav{
	width: 100%;
	height: 15vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
}
nav #logo{
	padding-top: 10px;
	width: 70%;
	text-align: left;
	font-size: 1em;
	text-shadow: rgb(1,1,1);
	text-transform: uppercase;
  	font-weight: bold;
  text-shadow: 2px 2px 2px #200;
  font-family: "Times New Roman", Times, serif;
}

nav .menu{
	width: 22%;
	font-size:0.8em;
	text-shadow: rgb(0,0,1);
	text-transform: uppercase;
  	font-weight: bold;
	display: flex;
	justify-content: space-between;
}

}
